<footer>
    <div class="footerContent">
        <nav>
            <ul>
                <li class="footer_topStatus"><a href="">關於我們</a></li>
                <li><a href="">關於Read more</a></li>
                <li><a href="">隱私權政策</a></li>
                <li><a href="">服務條款</a></li>
                <li><a href="">交通資訊</a></li>
                <li><a href="">團購服務</a></li>
            </ul>

            <ul>
                <li class="footer_topStatus"><a href="">會員專區</a></li>
                <li><a href="">會員查詢</a></li>
                <li><a href="">會員權益</a></li>
                <li><a href="">訂閱/取消電子報</a></li>
                <li><a href="">購書流程說明</a></li>
            </ul>

            <ul>
                <li class="footer_topStatus"><a href="">客服中心</a></li>
                <li><a href="">查詢帳號密碼</a></li>
                <li><a href="">常見問答</a></li>
                <li><a href="">客服信箱</a></li>
            </ul>
        </nav>
        <div class="footerDetails">
            <div class="footerLogo"><img src="./img/Logo.png" /></div>
            <ul>
                <li>
                    <span><img src="./img/icon/address.svg" /></span>
                    <p>462 臺北市大同區樹林6巷 244弄776號8樓</p>
                </li>
                <li>
                    <span><img src="./img/icon/telephone.svg" /></span>
                    <p>電話：(02)5473 3438</p>
                </li>
                <li>
                    <span><img src="./img/icon/print.svg" /></span>
                    <p>傳真：(02)5473 3437</p>
                </li>
                <li class="footerIcon">
                    <span
                        ><a href="#"><img src="./img/icon/facebook.svg" /></a
                    ></span>
                    <span
                        ><a href="#"><img src="./img/icon/instagram.svg" /></a
                    ></span>
                    <span
                        ><a href="#"><img src="./img/icon/twitter.svg" /></a
                    ></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <ul>
            <li>
                <span><img src="./img/icon/telephone.svg" /></span>
                <p>客服專線：(02)2236 5305</p>
            </li>
            <li>
                <span><img src="./img/icon/email.svg" /></span>
                <p>客服信箱：readmore@read.com</p>
            </li>
            <li>
                <p>服務時間：週一~五 8:00~19:00 / 週六~日例、假日 9:00~18:00</p>
            </li>
        </ul>
    </div>
    <div class="footerEnd">
        <p>Copyright © since 1995 books.com.tw All Rights Reserved.</p>
    </div>
</footer>
