<header>
    <!-- 上面 -->
    <div class="topStatus">
        <ul>
            <li><a href="#">登入會員</a></li>
            <li><a href="#">加入會員</a></li>
            <li><a href="#">會員專區</a></li>
            <li><a href="#">客服服務</a></li>
        </ul>
    </div>
    <!-- 中間 -->
    <div class="midStatus">
        <div class="logo">
            <a href=""><img src="./img/Logo.png" alt="" /></a>
        </div>
        <div class="logoSerch">
            <div class="SerchSpace">
                <label for="textbtn"><span class="text">全館搜尋</span></label>
                <input type="text" id="textbtn" placeholder="搜尋..." />
                <button></button>
            </div>
            <div class="cart"><span>購物車</span><img src="./img/icon/shopping cart.png" alt="" /></div>
        </div>
    </div>
    <!-- 下面 -->
    <nav class="navBar">
        <ul>
            <li>
                <a href=""><img src="./img/icon/classification.png" alt="" /><span>書籍分類</span></a>
            </li>
            <li>
                <a href=""><img src="./img/icon/classification.png" alt="" /><span>限時折扣</span></a>
            </li>
            <li>
                <a href=""><img src="./img/icon/classification.png" alt="" /><span>電子書</span></a>
            </li>
            <li>
                <a href=""><img src="./img/icon/classification.png" alt="" /><span>影音專區</span></a>
            </li>
            <li>
                <a href=""><img src="./img/icon/classification.png" alt="" /><span>話題專欄</span></a>
            </li>
        </ul>
    </nav>
</header>
